<h1><%= @team.name %></h1>
<p>Members:<p>
<ul>
<% @team.members.each do |m| %>
  <li><%= m.firstname %> <%= m.lastname %> </li>
<% end %>
</ul>

<% if @team.users_invited.any? %>
  </br>
  <p>Users invited:<p>
  <ul>
  <% @team.users_invited.each do |i| %>
    <li><%= i.firstname %> <%= i.lastname %> </li>
  <% end %>
  </ul>
<% end %>
<h3>Invite user to team</h3>
<%= form_tag '/memberships/invite' do %>
  
  <div class="field">
    <%= label_tag 'Email' %>
    <%= text_field_tag "email" %><br>
  </div>
  <div class="field"><%= hidden_field_tag :t_id, @team.id %></div>
  <div class="actions">
    <%= submit_tag "Invite"%>
  </div>
<% end %>


<% if @team.stories.any? %>
  </br>
  <p>Stories:<p>
  <ul style="list-style-type:none">
  <% @team.stories.each do |t| %>
    <li><%= t.name %></li>
  <% end %>
  </ul>
<% end %>

<h4>Create new story</h4>
<%= form_tag "/teams/#{@team.id}/stories/" do %>
  
  <div class="field">
    <%= label_tag 'Story' %>
    <%= text_field_tag "name" %><br>
  </div>
  <div class="actions">
    <%= submit_tag "Create story"%>
  </div>
<% end %>
