<% if current_user.firstname %>
  <h2>Welcome to PPOKER APP, <%= current_user.firstname %>!</h2>
<% else %>
  <h2>Welcome to PPOKER APP!<h2>
<% end %>
</br>
<h4>Create new team</h4>
<%= form_tag '/teams/new' do %>
  
  <div class="field">
    <%= label_tag 'Name' %>
    <%= text_field_tag "name" %><br>
  </div>
  <div class="actions">
    <%= submit_tag "Create team"%>
  </div>
<% end %>

</br>

<% if current_user.teams.any? %>
  <p>Your teams</p>
  <ul>
  <% current_user.teams.each do |t| %>
    <li><%= link_to t.name, t %></li>
  <% end %>
  </ul>
<% end %>

<% if current_user.teams_to_join.any? %>
  <h4>You have been invited to following teams</h4>
  <ul style="list-style-type:none">
  <% current_user.teams_to_join.each do |t| %>
    <li><%= t.name %>  <%= link_to 'Join', "/teams/#{t.id}/join", method: :post, class:"btn btn-default" %> </li>
  <% end %>
  </ul>
<% end  %>

